<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AssimpNet" version="4.1.0" targetFramework="net461" />
  <package id="Octokit" version="0.31.0" targetFramework="net461" />
  <package id="OpenTK" version="3.0.1" targetFramework="net452" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net452" />
</packages>